# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg

# Virtual env
.venv/
venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store

# Tooling
.python-version
